#index{
	background-color: black;
	background-image: url(http://howafrica.com/wp-content/uploads/2015/01/ProfilKenya1.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center; 
    margin: 0;
    
		}
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-left: 400px;
    background-color: black;
}
li {
    float: left;
}

li a {
	font-size: 120%;
	text-decoration: none;
    display: block;
    text-align: center;
    padding: 40px;
    color: white;
    
}

li a:hover {
    background-color: #111111;
}

#t1{
	font-family: cursive;
	font-weight: bold;
}
#head1{
	color:#085D1B;
	font-size: 500%;
	text-align: center;
	padding-top: 230px;
	font-family: georgia;

}
#head2{
	color:white;
	font-size: 200%;
	text-align: center;
	font-family:fantasy;
}
#head3{

	color:white;
	font-size: 200%;
	text-align: center;
	font-family:fantasy;
}
#cuisine{
	background-color: white;

}
#para{
	color:purple;
	font-family: cursive;
	font-size:30px;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#photos{
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#food{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;

}

#fun{
	background-color:black;
	color:white;
	font-family: cursive;
	font-size:120%;
	text-align: center;
	text-shadow: 10px;
}
#top{
	background-color:#8F350F;
	font-family: comic;

}
#line{
	color:darkorange;
}
#here{
	color:green;
	font-size: 200%;
	text-align: center;
	font-family:fantasy;
}
#flag{
	
}
